/* ResultScreen.css */

.result-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--questionBg);
  position: relative;
}

.result-box {
  margin-top: 10vh;
  height: 90vh;
  background-color: white;
  padding: 20px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
}

.result-text{
  font-weight: 600;
  font-size: 1.5rem;
}

.question-text {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: justify;
  margin-bottom: 15px;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 20px;
}

.option-circle {
  background-color: var(--optionBg);
  font-size: .875rem;
  text-align: left;
  border-radius: .3rem;
  padding: 1rem;
  margin-bottom: 10px;
}

.option-circle input[type="radio"]{
  height: 1rem;
  width: 1rem;
}

.next-button {
  background-color: #e74c3c;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-button:hover {
  background-color: #c0392b;
}


.r-btn{
  background-color: #e74c3c;
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
  border: none;
  border-radius: 2rem;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  width: 80%;
  display: inline-block;
}

.correct-item{
  background-color: #44b77c22;
  border-radius: .8rem;
}

.correct-item > div{
  margin-right: 1rem;
}

.green-dot{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--correctDot);
}

.incorrect-item{
  background-color: #ff3b3e1d;
  border-radius: .8rem;
}

.incorrect-item > div{
  margin-right: 1rem;
}

.red-dot{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--incorrectDot);
}

