:root{
  --questionBg: #AF9CF3;
  --buttonBg: #FF3B3F;
  --optionBg: #F3F4FA;
  --correctDot: #44B77B;
  --incorrectDot: #FF3B3F;
}

body{
  max-width: 30rem;
  margin: auto;
  background-color: rgb(245, 245, 245);
}

.button-wrapper{
  max-width: 25rem;
}